p, div.frontPageCaption, div.caption, .centred, .contactInfoBox, .contact-details, footer {
  color: #999;
  font-size: 20px;
  font-family: Arial, Helvetica;
  text-align: justify; }

html {
  scroll-behavior: smooth; }

header {
  width: 100%; }

header li {
  list-style-type: none; }

header.navBarTop nav ul li a {
  font-size: 12px;
  float: left;
  text-decoration: none;
  text-align: center;
  color: #999;
  margin: 2px;
  padding: 0 2px; }

p {
  margin: 20px; }

h3 {
  text-align: center;
  margin: 2vh;
  color: #999; }

#active {
  text-decoration: underline; }

li a:hover:not(.active) {
  background-color: #ffffff;
  color: #ffb84d; }

div.frontPageCaption, div.caption {
  font-size: 40px;
  text-align: center;
  text-transform: capitalize;
  line-height: 1;
  padding: 40vh 0px;
  display: block; }
  div.frontPageCaption .boldText, div.caption .boldText {
    color: #ffb84d;
    display: inline-block;
    text-transform: uppercase; }

.navBarTop {
  position: fixed;
  background-color: white;
  margin: auto;
  z-index: 9; }

.centred {
  text-align: center; }

.frontPageCaption {
  top: 50px; }

.contactInfoBox .contact-details, .contactInfoBox .contactFormHeader, .contact-details .contact-details, .contact-details .contactFormHeader {
  text-align: center; }

.contact-details {
  padding: 10vh auto; }

input, textarea {
  padding: 1vh;
  margin-bottom: 3vh;
  border: none;
  background-color: #f2f2f2;
  font-size: 1rem;
  width: 100%; }

label {
  margin-top: 1rem;
  margin-bottom: 0; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #e6e6e6; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #e6e6e6; }

#submit {
  color: #ffb84d; }

#submit:hover {
  background-color: grey; }

.services-img {
  width: 90vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.fa .fa-angle-double-down {
  bottom: 0;
  transition: 5s; }

.fa-angle-double-down:hover {
  opacity: 0.5; }

.socials {
  padding: 10px;
  margin: auto;
  text-align: center; }

.fa:hover, .fab:hover, .socials a:hover {
  color: #ffb84d;
  text-decoration: none; }

footer {
  color: #ffffff;
  padding: 20px;
  background-color: #999;
  opacity: 0.3;
  display: block; }

.col-sm-6 {
  text-align: justify; }

#flip-container {
  line-height: 1;
  padding-top: 200px; }

#flip {
  height: 40px;
  overflow: hidden; }

#flip > div > div {
  color: #ffb84d;
  padding: 0px;
  margin-bottom: 40px;
  display: inline-block; }

#flip div:first-child {
  animation: show 5s linear infinite; }

#flip div div {
  background: #999; }

@keyframes show {
  0% {
    margin-top: -200px; }
  5% {
    margin-top: -160px; }
  25% {
    margin-top: -160px; }
  35% {
    margin-top: -80px; }
  60% {
    margin-top: -80px; }
  70% {
    margin-top: 0px; }
  95% {
    margin-top: 0px; }
  99.99% {
    margin-top: 40px; }
  100% {
    margin-top: -200px; } }
@media (min-width: 768px) {
  header.navBarTop nav ul li a {
    font-size: 18px;
    padding: 14px 16px; }

  div.frontPageCaption, div.caption {
    font-size: 80px; }

  #flip {
    height: 80px; }

  #flip > div > div {
    margin-bottom: 80px; }

  .services-img {
    width: 40vw; }

  @keyframes show {
    0% {
      margin-top: -400px; }
    5% {
      margin-top: -320px; }
    25% {
      margin-top: -320px; }
    35% {
      margin-top: -160px; }
    60% {
      margin-top: -160px; }
    70% {
      margin-top: 0px; }
    95% {
      margin-top: 0px; }
    99.99% {
      margin-top: 80px; }
    100% {
      margin-top: -400px; } } }
@media (min-width: 992px) {
  .services-img {
    width: 30vw; } }

/*# sourceMappingURL=style.css.map */
